<link rel="stylesheet" href="~/css/carStyles.css" />
@inject IDealerService dealerService
@inject ICarService carService
@model CarDetailsServiceModel

@{
    ViewData["Title"] = "Car Details";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Car Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p><b>Year:</b> @Model.Year</p>
            <p><b>Shift:</b> @Model.Shift</p>
            <p><b>Seat:</b> @Model.Seat</p>
            <p><b>Fuel Type:</b> @Model.FuelType</p>
            <p><b>Price Per Day:</b> @String.Format("{0:f2}", Model.PricePerDay) BGN</p>
            <p><b>Description:</b> @Model.Description</p>
            <p><b>Category:</b> @Model.Category</p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (await carService.HasDealerWithIdAsync(Model.Id, User.Id()))
                    {
                        <a asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id"
                           class="btn btn-warning">Edit</a>
                        <a asp-controller="Car" asp-action="Delete" asp-route-id="@Model.Id"
                           class="btn btn-danger">Delete</a>
                    }
                    @if (!Model.IsRented && (await dealerService.ExistsByIdAsync(User.Id())) == false)
                    {
                        <form class="input-group-sm" asp-controller="Car"
                              asp-action="Rent" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary bg-light" type="submit" value="Rent" />
                        </form>
                    }
                    else if (await carService.IsRentedByUserWithIdAsync(Model.Id, User.Id()))
                    {
                        <form asp-controller="Car" asp-action="Return"
                              asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary bg-light" type="submit" value="Return" />
                        </form>
                    }
                }
            </div>
            <p></p>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Dealer Info</h5>
                         <p class="card-text"><b>Name:</b>  @Model.Dealer.FullName</p>
                        <p class="card-text"><b>Email:</b>  @Model.Dealer.Email</p>
                        <p class="card-text"><b>Phone Number:</b> @Model.Dealer.PhoneNumber</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
