@model IEnumerable<RentHistoryViewModel>

<h2>Your Rent History</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Car</th>
            <th>Rental Period</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rent in Model)
        {
            <tr>
                <td>
                    <img src="@rent.ImageUrl" alt="Car Image" style="width:100px;" />
                    @rent.CarTitle
                </td>
                <td>
                    @rent.RentStartDate.ToShortDateString() - @rent.RentEndDate.ToShortDateString()
                </td>
                <td>
                    @rent.TotalPrice BGN
                </td>
                <td>
                    @if (!rent.IsReviewed)
                    {
                        if (rent.IsReturned)
                        {
                            <a class="btn btn-primary text-white" asp-area="" asp-controller="Review" asp-action="Create" asp-route-carId="@rent.CarId">leave review</a>
                        }

                    }
                    else
                    {
                        <a class="text-success text-white">reviewed</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
